@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: transparent;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(23, 23, 23, 0.9);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/img/jpg/bg-white3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
